.cus_font {
    font-family: 'Satisfy', cursive;
    font-size:      24px;
}

/* Login & SignUp Page */

.inputcss {
    width: 100%;
    padding: 12px 20px;
    margin: 8px auto;
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    color: gray;
    background-color: white;
 }

.content-login-signup{
    width: 350px;
    margin-top: 150px;
}
.app-title{ font-size: 50px; }

.btn { margin-top: 30px; }

.moveto-signup{ margin-top: 5px; }

/* home */

/* contact */

/* profile */

.container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 35%;
    transform: translateY(-50%);
  }

.container img {
    border-radius: 50%;
    border: 1px solid #3D4B6D;
    width: 12em;
}

.container h1 {
    margin-top: 30px;
}

.profile-button {
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 2em;
    box-shadow: 0 5px #acacac;
}

.center-info {
    width: 450px;
    text-align: center;
    
}

